body{
	margin: 0;
	padding: 0;
	font-family: "montserrant";
	background-image: linear-gradient(125deg,#4f4f4f,#4d29ff,#696969,#0048BA);
	background-size: 400%;
	animation: bganimation 15s infinite;
}
.text{
	color: white;
	text-align: center;
	font-size: 22px;
}

@keyframes bganimation {
	0%{
		background-position: 0% 50%;
	}50%{
		background-position: 100% 50%;
	}100%{
		background-position: 0% 50%;
	}

}

/* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;
  width: 5%;
  height: 5%;
}

/* Make the image responsive */
.container img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: black;
}